<%- include("partials/header") %>
<div class="container">
  <div class="row my-5">
    <div class="col-md-6 mb-3 img-container">
      <img src=<%=user.avatar%> alt="user profile picture" style="max-width:100%;height:auto;">
    </div>

    <div class="col-md-6 mb-3 details-container">
      <h1 class="pageTitle">Welcome Back <%=user.username%></h1>
      <h4>On this page, you can view all of the games that you have posted to Velp,
         as well as all of the games that you have added to your Want, Playing and Completed collections.
      </h4>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around mb-1">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block mx-2" id="myGamesButton">My Games</button>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block mx-2" id="wantButton">Want</button>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block mx-2" id="playingButton">Playing</button>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block mx-2" id="completedButton">Completed</button>
  </div>

  <div class="row" id="myGamesSection" style="display:none;">
    <% for(i = 0; i < myGames.length; i++) { %>
      <div class='col-lg-4 col-md-6 mt-4'>
        <div class='shadow card mx-3 mt-3 px-0'>
          <a href='/games/<%= myGames[i]._id %>'>
            <img class='card-img-top' src='<%=myGames[i].image%>'>
          </a>
          <h3 class='m-2 card-title'> <%=myGames[i].title%> </h3>
          <p class='mx-3 mb-3 card-text'> <%=myGames[i].description%> </p>
        </div>
      </div>
    <% } %>
  </div>

  <div class="row" id="wantSection" style="display:none;">
    <% for(i = 0; i < wantGames.length; i++) { %>
      <div class='col-lg-4 col-md-6 mt-4'>
        <div class='shadow card mx-3 mt-3 px-0'>
          <a href='/games/<%= wantGames[i]._id %>'>
            <img class='card-img-top' src='<%=wantGames[i].image%>'>
          </a>
          <h3 class='m-2 card-title'> <%=wantGames[i].title%> </h3>
          <p class='mx-3 mb-3 card-text'> <%=wantGames[i].description%> </p>
        </div>
      </div>
    <% } %>
  </div>


  <div class="row" id="playingSection" style="display:none;">
    <% for(i = 0; i < playingGames.length; i++) { %>
      <div class='col-lg-4 col-md-6 mt-4'>
        <div class='shadow card mx-3 mt-3 px-0'>
          <a href='/games/<%= playingGames[i]._id %>'>
            <img class='card-img-top' src='<%=playingGames[i].image%>'>
          </a>
          <h3 class='m-2 card-title'> <%=playingGames[i].title%> </h3>
          <p class='mx-3 mb-3 card-text'> <%=playingGames[i].description%> </p>
        </div>
      </div>
    <% } %>
  </div>

  <div class="row" id="completedSection" style="display:none;">
    <% for(i = 0; i < completedGames.length; i++) { %>
      <div class='col-lg-4 col-md-6 mt-4'>
        <div class='shadow card mx-3 mt-3 px-0'>
          <a href='/games/<%= completedGames[i]._id %>'>
            <img class='card-img-top' src='<%=completedGames[i].image%>'>
          </a>
          <h3 class='m-2 card-title'> <%=completedGames[i].title%> </h3>
          <p class='mx-3 mb-3 card-text'> <%=completedGames[i].description%> </p>
        </div>
      </div>
    <% } %>
  </div>
</div>

<script>
  var user = <%- JSON.stringify(user) %>
</script>

<script src="/js/account.js"></script>
<%- include("partials/footer") %>
