<%- include("partials/header") %>
<div class="container">
  <div class="row mt-4">

    <div class="col-md-6 mb-3 img-container">
      <img class="rounded mx-auto d-block" alt="<%=game.title%> image" src="<%=game.image%>">
    </div>

    <div class="col-md-6 mb-3 details-container">
      <h1 style=><%=game.title%></h1>
      <p><%=game.description%></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="border-bottom-0"></th>
            <th scope="col" class="border-bottom-0"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Platforms</th>
            <% var feature = ""; %>
            <% for(i = 0; i < game.platforms.length; i++) { %>
            <%    feature = feature + game.platforms[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>

          <tr>
            <th scope="row">Genres</th>
            <% feature = ""; %>
            <% for(i = 0; i < game.genres.length; i++) { %>
            <%    feature = feature + game.genres[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>

          <tr>
            <th scope="row">ESRB Rating</th>
            <td><%= game.esrb %></td>
          </tr>

          <tr>
            <th scope="row">Metacritic Score</th>
            <td><%= game.metacritic %></td>
          </tr>

          <tr>
            <th scope="row">Release Date</th>
            <td><%= game.releaseDate.toLocaleDateString('en-US') %></td>
          </tr>

          <tr>
            <th scope="row">Developers</th>
            <% feature = ""; %>
            <% for(i = 0; i < game.developer.length; i++) { %>
            <%    feature = feature + game.developer[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>

          <tr>
            <th scope="row">Publishers</th>
            <% feature = ""; %>
            <% for(i = 0; i < game.publisher.length; i++) { %>
            <%    feature = feature + game.publisher[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>
        </tbody>
      </table>

      <% if (user && user.username === game.owner.username)  {%>
        <div class="d-flex justify-content-center">
          <a href="/games/<%=game._id%>/edit">
            <button type="button" class="btn btn-outline-success btn-lg btn-block mx-3">Edit Game</button>
          </a>

          <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-lg btn-block mx-3">Delete Game</button>
          </form>
        </div>
      <% } %>

      <div class="row mt-5">
        <% if (user && user.want.indexOf(game._id) >= 0) {%>
          <div class="col-4 game-experience">
            <img class="mx-auto d-block game-experience-icons-clicked" id="want-icon" alt="Want" src="https://icons.iconarchive.com/icons/danieledesantis/christmas/512/gift-icon.png">
            <h4 class="game-experience-text-clicked" id="want-text">Want</h4>
          </div>
        <% } else if (user) {%>
          <div class="col-4 game-experience">
            <img class="mx-auto d-block game-experience-icons" id="want-icon" alt="Want" src="https://icons.iconarchive.com/icons/danieledesantis/christmas/512/gift-icon.png">
            <h4 class="game-experience-text" id="want-text">Want</h4>
          </div>
        <% } else {%>
          <div class="col-4 game-experience">
            <a href="/not-logged-in">
              <img class="mx-auto d-block game-experience-icons" id="want-icon" alt="Want" src="https://icons.iconarchive.com/icons/danieledesantis/christmas/512/gift-icon.png">
              <h4 class="game-experience-text" id="want-text">Want</h4>
            </a>
          </div>
        <% } %>

        <% if (user && user.playing.indexOf(game._id) >= 0) {%>
          <div class="col-4 game-experience">
            <img class="mx-auto d-block game-experience-icons-clicked" alt="Playing" id="playing-icon" src="https://static.thenounproject.com/png/2879647-200.png">
            <h4 class="game-experience-text-clicked" id="playing-text">Playing</h4>
          </div>
        <% } else if (user) {%>
          <div class="col-4 game-experience">
            <img class="mx-auto d-block game-experience-icons" alt="Playing" id="playing-icon" src="https://static.thenounproject.com/png/2879647-200.png">
            <h4 class="game-experience-text" id="playing-text">Playing</h4>
          </div>
        <% } else {%>
          <div class="col-4 game-experience">
            <a href="/not-logged-in">
              <img class="mx-auto d-block game-experience-icons" alt="Playing" id="playing-icon" src="https://static.thenounproject.com/png/2879647-200.png">
              <h4 class="game-experience-text" id="playing-text">Playing</h4>
            </a>
          </div>
        <% } %>

        <% if (user && user.completed.indexOf(game._id) >= 0) {%>
          <div class="col-4 game-experience">
            <img class="mx-auto d-block game-experience-icons-clicked" alt="Completed" id="completed-icon" src="https://static.thenounproject.com/png/463939-200.png">
            <h4 class="game-experience-text-clicked" id="completed-text">Completed</h4>
          </div>
        <% } else if (user) {%>
          <div class="col-4 game-experience">
            <img class="mx-auto d-block game-experience-icons" alt="Completed" id="completed-icon" src="https://static.thenounproject.com/png/463939-200.png">
            <h4 class="game-experience-text" id="completed-text">Completed</h4>
          </div>
        <% } else {%>
          <div class="col-4 game-experience">
            <a href="/not-logged-in">
              <img class="mx-auto d-block game-experience-icons" alt="Completed" id="completed-icon" src="https://static.thenounproject.com/png/463939-200.png">
              <h4 class="game-experience-text" id="completed-text">Completed</h4>
            </a>
          </div>
        <% } %>
      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mb-3">
      <div>
        <a href="/games/<%=game._id%>/comments/new" class="col-md-2" style="text-decoration : none;">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-3 mr-4">Add Comment</button>
        </a>

        <% if (user && game.upvotes.indexOf(user.username) >= 0) { %>
          <button type="button" id="upvote_button" class="btn btn-success btn-lg btn-block mb-3 mx-2">+</button>
        <% } else if (user) {%>
          <button id="upvote_button" class="btn btn-outline-success btn-lg btn-block mb-3 mx-2">+</button>
        <% } else { %>
          <a class="btn btn-outline-success btn-lg btn-block mb-3 mx-2" href="/not-logged-in">+</a>
        <% } %>
        <span id="vote_score" class="mx-1">
          <%= game.upvotes.length - game.downvotes.length %> Upvotes
        </span>
        <% if (user && game.downvotes.indexOf(user.username) >= 0) { %>
          <button type="button" id="downvote_button" class="btn btn-danger btn-lg btn-block mb-3 mx-2">-</button>
        <% } else if (user) {%>
          <button type="button" id="downvote_button" class="btn btn-outline-danger btn-lg btn-block mb-3 mx-2">-</button>
        <% } else { %>
          <a class="btn btn-outline-danger btn-lg btn-block mb-3 mx-2" href="/not-logged-in">-</a>
        <% } %>
      </div>

      <div class="col-md-12 mb-3 details-container">
        <table class="table table-striped">
          <tbody>
            <script>
              const commentIDs = [];
            </script>
            <% comments.forEach((c => { %>
            <tr>
              <td scope="row" style="word-wrap: break-word">
                <div class="d-flex flex-row justify-content-center">
                  <img src=<%=c.user.avatar%> alt="user profile picture" height="50" width="50">
                </div>
              </td>
              <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                <div class="d-flex flex-row">
                  <p><%=c.user.username%></p>
                  <p class="mx-1" style="color:grey"><%=c.date.toLocaleDateString('en-US')%></p>
                </div>
                <p><%=c.text%></p>
                <div class="d-flex flex-row">
                  <div class="comment-liking-buttons">
                    <% if (user && c.likes.indexOf(user.username) >= 0) { %>
                      <button type="submit" class="btn btn-success btn-sm mb-1 mr-1 commentButton" id="like_button">
                        <img src="https://static.thenounproject.com/png/12734-200.png" alt="Like Comment" height="20" width="20">
                      </button>
                    <% } else if (user) { %>
                      <button type="submit" class="btn btn-outline-success btn-sm mb-1 mr-1 commentButton" id="like_button">
                        <img src="https://static.thenounproject.com/png/12734-200.png" alt="Like Comment" height="20" width="20">
                      </button>
                    <% } else {%>
                      <a class="btn btn-outline-success btn-sm mb-1 mr-1 commentButton" id="like_button" href="/not-logged-in">
                        <img src="https://static.thenounproject.com/png/12734-200.png" alt="Like Comment" height="20" width="20">
                      </a>
                    <% } %>
                    <span id="like_counter" class="mx-1">
                      <%= c.likes.length - c.dislikes.length %> Likes
                    </span>
                    <% if (user && c.dislikes.indexOf(user.username) >= 0) { %>
                      <button type="submit" class="btn btn-danger btn-sm mr-1 mb-1 commentButton" id="dislike_button">
                        <img src="https://static.thenounproject.com/png/12734-200.png" alt="Dislike Comment" height="20" width="20" style="transform:rotate(180deg)">
                      </button>
                    <% } else if (user) { %>
                      <button type="submit" class="btn btn-outline-danger btn-sm mr-1 mb-1 commentButton" id="dislike_button">
                        <img src="https://static.thenounproject.com/png/12734-200.png" alt="Dislike Comment" height="20" width="20" style="transform:rotate(180deg)">
                      </button>
                    <% } else {%>
                      <a class="btn btn-outline-danger btn-sm mr-1 mb-1 commentButton" id="dislike_button" href="/not-logged-in">
                        <img src="https://static.thenounproject.com/png/12734-200.png" alt="Dislike Comment" height="20" width="20" style="transform:rotate(180deg)">
                      </a>
                    <% } %>
                    <script>
                      commentIDs.push("<%- c._id %>");
                    </script>
                  </div>
                  <% if (user && user.username === c.user.username)  {%>
                    <a class="btn btn-outline-success btn-sm mb-1 mr-1 commentButton" href="/games/<%=game._id%>/comments/<%=c._id%>/edit">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_edit-ltr.svg/1024px-OOjs_UI_icon_edit-ltr.svg.png" alt="Edit Comment" height="20" width="20">
                    </a>
                    <form action="/games/<%=game._id%>/comments/<%=c._id%>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-outline-danger btn-sm mr-1 mb-1 commentButton">
                        <img src="https://icon-library.com/images/delete-icon-transparent-background/delete-icon-transparent-background-2.jpg" alt="Edit Comment" height="20" width="20">
                      </button>
                    </form>
                <% } %>
                </div>
              </td>
            </tr>
            <% })) %>
          </tbody>
        </table>
        <div class="py-3"></div>
      </div>
    </div>

    <!-- Amazon links to purchase the game -->
    <div class="col-md-6 mb-3">
      <div class="row">
        <div class="d-flex flex-row mx-1">
          <h3> Order From Amazon </h3>
          <img style="width:45px" src="https://i.pinimg.com/originals/09/98/f7/0998f77b2e4b44df9ca752ea3d694b61.png" alt="Amazon Logo">
        </div>
        <% for (let i = 0; i < 8 && i < response.result.length; i++) { %>
          <div class="col m-1">
            <div class="shadow card" style="width: 18rem;">
              <a href=<%=response.result[i].url%> target="_blank">
                <img class="card-img-top" src=<%=response.result[i].thumbnail%> alt="Card image cap">
              </a>
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title"><%=response.result[i].title%></h5>
                <% if (response.result[i].price.current_price > 0)  {%>
                  <p class="card-text">Price: $<%=response.result[i].price.current_price%></p>
                <% } else { %>
                  <p class="card-text">Click product to view price</p>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>

  </div>
</div>

<script>
  var gameId = "<%- game._id %>"
</script>
<script src="/js/games_show.js"></script>

<%- include("partials/footer") %>
