<%- include("partials/header") %>
<div class="container">
  <div class="row mt-4">

    <div class="col-md-6 mb-3 img-container">
      <img class="rounded mx-auto d-block" alt="<%=game.title%> image" src="<%=game.image%>">
    </div>

    <div class="col-md-6 mb-3 details-container">
      <h1><%=game.title%></h1>
      <p><%=game.description%></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="border-bottom-0"></th>
            <th scope="col" class="border-bottom-0"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Platforms</th>
            <% var feature = ""; %>
            <% for(i = 0; i < game.platforms.length; i++) { %>
            <%    feature = feature + game.platforms[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>

          <tr>
            <th scope="row">Genres</th>
            <% feature = ""; %>
            <% for(i = 0; i < game.genres.length; i++) { %>
            <%    feature = feature + game.genres[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>

          <tr>
            <th scope="row">ESRB Rating</th>
            <td><%= game.esrb %></td>
          </tr>

          <tr>
            <th scope="row">Metacritic Score</th>
            <td><%= game.metacritic %></td>
          </tr>

          <tr>
            <th scope="row">Release Date</th>
            <td><%= game.releaseDate %></td>
          </tr>

          <tr>
            <th scope="row">Developers</th>
            <% feature = ""; %>
            <% for(i = 0; i < game.developer.length; i++) { %>
            <%    feature = feature + game.developer[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>

          <tr>
            <th scope="row">Publishers</th>
            <% feature = ""; %>
            <% for(i = 0; i < game.publisher.length; i++) { %>
            <%    feature = feature + game.publisher[i] + ", " %>
            <% } %>
            <td><%= feature.substring(0, feature.length - 2) %></td>
          </tr>
        </tbody>
      </table>

      <% if (user && user.username === game.owner.username)  {%>
        <div class="d-flex justify-content-center">
          <a href="/games/<%=game._id%>/edit">
            <button type="button" class="btn btn-outline-success btn-lg btn-block mx-3">Edit Game</button>
          </a>

          <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-lg btn-block mx-3">Delete Game</button>
          </form>
        </div>
      <% } %>

      <div class="row mt-5">
        <% if (user && user.want.indexOf(game._id) >= 0) {%>
          <div class="col-4" id="want">
            <img class="mx-auto d-block game-experience-icons-clicked" id="want-icon" alt="Want" src="https://icons.iconarchive.com/icons/danieledesantis/christmas/512/gift-icon.png">
            <h4 class="game-experience-text-clicked" id="want-text">Want</h4>
          </div>
        <% } else if (user) {%>
          <div class="col-4" id="want">
            <img class="mx-auto d-block game-experience-icons" id="want-icon" alt="Want" src="https://icons.iconarchive.com/icons/danieledesantis/christmas/512/gift-icon.png">
            <h4 class="game-experience-text" id="want-text">Want</h4>
          </div>
        <% } %>

        <% if (user && user.playing.indexOf(game._id) >= 0) {%>
          <div class="col-4" id="playing">
            <img class="mx-auto d-block game-experience-icons-clicked" alt="Playing" id="playing-icon" src="https://static.thenounproject.com/png/2879647-200.png">
            <h4 class="game-experience-text-clicked" id="playing-text">Playing</h4>
          </div>
        <% } else if (user) {%>
          <div class="col-4" id="playing">
            <img class="mx-auto d-block game-experience-icons" alt="Playing" id="playing-icon" src="https://static.thenounproject.com/png/2879647-200.png">
            <h4 class="game-experience-text" id="playing-text">Playing</h4>
          </div>
        <% } %>

        <% if (user && user.completed.indexOf(game._id) >= 0) {%>
          <div class="col-4" id="completed">
            <img class="mx-auto d-block game-experience-icons-clicked" alt="Completed" id="completed-icon" src="https://static.thenounproject.com/png/463939-200.png">
            <h4 class="game-experience-text-clicked" id="completed-text">Completed</h4>
          </div>
        <% } else if (user) {%>
          <div class="col-4" id="completed">
            <img class="mx-auto d-block game-experience-icons" alt="Completed" id="completed-icon" src="https://static.thenounproject.com/png/463939-200.png">
            <h4 class="game-experience-text" id="completed-text">Completed</h4>
          </div>
        <% } %>
      </div>

    </div>
  </div>

  <div class="row mt-5">
    <a href="/games/<%=game._id%>/comments/new" class="col-md-2">
      <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-3">Add Comment</button>
    </a>
    <div class="col-md-10">
      <% if (user && game.upvotes.indexOf(user.username) >= 0) { %>
        <button type="button" id="upvote_button" class="btn btn-success btn-lg btn-block mb-3 mx-2">+</button>
      <% } else if (user) {%>
        <button type="button" id="upvote_button" class="btn btn-outline-success btn-lg btn-block mb-3 mx-2">+</button>
      <% } %>
      <span id="vote_score" class="mx-1">
        <%= game.upvotes.length - game.downvotes.length %>
      </span>
      <% if (user && game.downvotes.indexOf(user.username) >= 0) { %>
        <button type="button" id="downvote_button" class="btn btn-danger btn-lg btn-block mb-3 mx-2">-</button>
      <% } else if (user) {%>
        <button type="button" id="downvote_button" class="btn btn-outline-danger btn-lg btn-block mb-3 mx-2">-</button>
      <% } %>
    </div>
  </div>

  <div class="col-md-12 mb-3 details-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <% if (comments.length === 0) { %>
            <th scope="col" class="border-bottom-0 col-2">No comments have been posted yet :/</th>
          <% } else {%>
            <th scope="col" class="border-bottom-0 col-2">Username</th>
            <th scope="col" class="border-bottom-0 col-2"></th>
            <th scope="col" class="border-bottom-0 col-8">Comment</th>
          <% } %>


        </tr>
      </thead>
      <tbody>

        <% comments.forEach((c => { %>
        <tr>
          <td scope="row" style="word-wrap: break-word"><%=c.user.username%></td>
          <td>
            <!-- <div class="d-flex justify-content-around flex-column"> -->
            <% if (user && user.username === c.user.username)  {%>
                <a class="btn btn-outline-success btn-sm btn-block mx-1 mb-1 w-75" href="/games/<%=game._id%>/comments/<%=c._id%>/edit">
                  Edit
                </a>
                <form action="/games/<%=game._id%>/comments/<%=c._id%>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-danger btn-sm btn-block mx-1 mb-1 w-75">
                    Delete
                  </button>
                </form>
            <% } %>
            <!-- </div> -->
          </td>
          <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><%=c.text%></td>
        </tr>
        <% })) %>
      </tbody>
    </table>

    <div class="py-3"> </div>

  </div>
</div>

<script>
  var gameId = "<%- game._id %>"
</script>
<script src="/js/games_show.js"></script>

<%- include("partials/footer") %>
