<%- include("partials/header") %>
  <div class="container">
    <div class="row">
      <% for(i = 0; i < games.length; i++) { %>
        <div class="col-lg-4 col-md-6 mt-4">
          <div class="shadow card mx-3 mt-3 px-0">
            <a href="/games/<%= games[i]._id %>">
              <img class="card-img-top" src="<%=games[i].image%>">
            </a>
            <h3 class="m-2 card-title"> <%=games[i].title%> </h3>
            <p class="mx-3 mb-3 card-text"> <%=games[i].description%> </p>
          </div>
        </div>
      <% } %>
    </div>
  </div>
<%- include("partials/footer") %>
